body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI',
    system-ui, 'Ubuntu', 'Droid Sans', sans-serif !important;
  font-size: 16px !important;
  line-height: 1.6 !important;
}

.opensub{
font-size: 17px;
}
.task-list-item {
  list-style-type: none;
}

.task-list-item-checkbox {
  margin-left: -20px;
  vertical-align: middle;
}

.title span {
  color: #fdaa27;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  color: black;
  /* font-family: 'Poppins', Arial, Tahoma, sans-serif; */
}

.buttonlink {
  width: 7em;
  border: 2px solid #fdaa27;
  background: #ffe;
  border-radius: 5px;
  margin-top: 15px;
}

.sdkbtn {
  width: 6em;
  border: 2px solid #fdaa27;
  background-image: url('SDKN.jpg');
  border-radius: 5px;
}

:not(p) a {
  display: block;
  width: 100%;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

a:hover,.btnpage:hover {
  color: #fdaa27;
  /* background: #eff; */
}

a {
  text-decoration: none;
  color: #000;
}

.site-header {
  padding-bottom: 20px;
}

.site-header::after {
  content: '';
  display: table;
  clear: both;
}
.site-identity{
  
  margin-bottom: 20px !important;
}

.site-identity h1,
.site-identity2 h1 {
  font-size: 1.5em;
  margin: 0.7em 0 0.3em 0;
  display: inline-block;
}

.site-identity img,
.site-identity2 img {
  max-width: 20%;
  float: left;
  margin: 0 50px 0 0;
}

.site-navigation {
  float: right;
}

.site-navigation ul,
li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

.site-logo {
  display: flex;
  align-items: center;
}
#faq--dependencies,
#faq--permissions,
#faq--data-internet-usage,
#faq--technical-features,
.custom-header {
  border: 2px solid orange !important;
  padding-left: 10px !important;
  padding-top: 5px !important;
}
a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0px solid -webkit-focus-ring-color !important;
}

.homeimg {
  padding: 20px;
  max-width: 45%;
  max-height: 50%;
}


.samefloorimg{
    padding: 20px;
    max-width: 40%;
    max-height: 50%;
}
.imgsdk2 {
  max-width: 30%;
  max-height: 50%;
  margin-top: 5px;
}

.imgsdk2-container {
  text-align: center;
  display: block;
}

.imghome-container {
  text-align: center;
  display: block;
}

.containersdk {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top:15px;
}
.containersdk span {
  width: 30%;
  margin: 0 1%;
}

.fqalink {
  font-weight: bold;
  display: inline;
}

.custom-subheading {
  border-bottom: 2px solid #ffb649;
}



.childiv2{
  display: block !important;
}
.childiv{
  display: none;
}

.closep{
  display: none !important;
}



DIV.ctn {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.intilazediv{
  display: block !important;
}
.intilazebluttothdiiv{
  display: block !important;
}

/* table, td, th, tr {
  border: 1px solid #ffb649!important; 
}
th {
  border-bottom: 2px solid #ffb649 !important;
} */

 table {
  width: 40%;
}

table thead tr {
  border: 1px solid #ffb6496c;
  border-bottom-width: 3px;
  border-bottom-color: #ffb649;
}

table thead tr th {
  font-weight: bold;
  font-size: 16px;
  border-right: 1px solid  #ffb6496c !important;
}

table tr th, table tr td {
  padding: 8px;
}

table tbody tr td {
  border-right: 1px solid  #ffb6496c !important;
  border-left: 1px solid  #ffb6496c !important;
  border-bottom: 1px solid  #ffb6496c !important;
} 


/* table td{
  text-align: center !important;
  font-family: "Poppins" !important;
  font-weight: 500 !important;

} */

.site-identityheader{
  border-color: black !important;
}


.opensub {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.initialize-number {
  font-size: 16px;
  margin-right: 5px;
  font-weight: bold;
}

.opensub i {
  font-size: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.opensub i.fa-sort-up {
  margin-top: 10px;
}

.api:hover {
  text-decoration: none !important;
  
}

